<%- include('partials/header') %>

<main>
    <h2>Dina Inlägg</h2>
    <div id="posts">
        <% blogPosts.forEach((post, index) => { %>
            <div class="post">
                <h3>Inlägg <%= index + 1 %></h3>
                <p><%= post %></p>
                <a href="/edit/<%= index %>"><i class="fas fa-edit"></i> Redigera</a>
                <form action="/delete" method="POST" style="display:inline;">
                    <input type="hidden" name="index" value="<%= index %>">
                    <button type="submit"><i class="fas fa-trash-alt"></i> Ta Bort</button>
                </form>
            </div>
        <% }) %>
    </div>

    <% if (typeof editIndex !== 'undefined' && editIndex !== null) { %>
        <h2>Redigera Inlägg</h2>
        <form action="/edit/<%= editIndex %>" method="POST">
            <div>
                <label for="editedPost">Inlägg:</label>
                <textarea id="editedPost" name="editedPost" required><%= postToEdit %></textarea>
            </div>
            <button type="submit">Uppdatera Inlägg</button>
        </form>
    <% } else { %>
        <h2>Skapa Nytt Inlägg</h2>
        <form action="/" method="POST">
            <div>
                <label for="blogtext">Inlägg:</label>
                <textarea id="blogtext" name="blogtext" required></textarea>
            </div>
            <button type="submit">Skapa Inlägg</button>
        </form>
    <% } %>
</main>

<%- include('partials/footer') %>
